h1 {
    color: darkred;
    background-color: cyan;
}
h2 {
    color: black;
    background-color: darkorange;
}
h3 {
    color: lightblue;
    background-color: black;
}
h4 {
    color: white;
    background-color: black;
}
.parrafosh5h6 {
    color: black;
    background-color: yellow;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#pruebaID {
    color: darkblue;
    background-color: red;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
.botonpiola {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 15px;
  }
