h1 {
    color: darkred;
    background-color: cyan;
}
h2 {
    color: black;
    background-color: darkorange;
}
h3 {
    color: lightblue;
    background-color: black;
}
h4 {
    color: white;
    background-color: black;
}
